/* .invslot-item-image {
    position: relative;
    display: inline-block;  Para que o tooltip fique ao lado do item 
} */
/* select {
	appearance: none;
} */

.itemlist{
    border: #2D0A63;
    height: auto;
    width: 32%;
}

.crafting{
    background-color: #C6C6C6;
    display: flex;
    position: relative;
    background-color: #C6C6C6;
    border: 2px solid;
    border-color: #DBDBDB #5B5B5B #5B5B5B #DBDBDB;
    padding: 6px;
    width: 30%;
    height: 10%;
}
.craftingright{
padding-top: 50%;
}
.craftingleft{
    width: 50%;
    height: 100%;
    vertical-align: middle;
}
.subimit{
    width: 32%;
}

.invslot {
    position: relative;
    display: inline-block;
    background: #8B8B8B no-repeat center center / 32px 32px;
    border: 2px solid;
    border-color: #373737 #FFF #FFF #373737;
    width: 32px;
    height: 32px;
    font-size: 16px;
    line-height: 1;
    text-align: left;
    vertical-align: bottom;
}
.invslot-large {
    padding: 8px;
}
.tooltip{
    background-color: rgba(16, 0, 16, 0.94);
    font-family: Minecraft, sans-serif;
    text-shadow: 0.125em 0.125em 0 #3E3E3E;
    color: #FFF;
    border-color: #2D0A63;
}
.tooltip optgroup {
    color: blue!important;
    font-weight: bold;
}

/* .tooltip-text {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    border-color: blue;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -50%;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: smaller; 
}

.tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.invslot-item-image:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
} */